**Задание**

Титаник, но с нейронками

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
titanic_df = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv")
titanic_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
titanic_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
titanic_df = titanic_df.dropna() # скидываем NaN
titanic_df

     PassengerId  Survived  Pclass  ...     Fare        Cabin  Embarked
1              2         1       1  ...  71.2833          C85         C
3              4         1       1  ...  53.1000         C123         S
6              7         0       1  ...  51.8625          E46         S
10            11         1       3  ...  16.7000           G6         S
11            12         1       1  ...  26.5500         C103         S
..           ...       ...     ...  ...      ...          ...       ...
871          872         1       1  ...  52.5542          D35         S
872          873         0       1  ...   5.0000  B51 B53 B55         S
879          880         1       1  ...  83.1583          C50         C
887          888         1       1  ...  30.0000          B42         S
889          890         1       1  ...  30.0000         C148         C

[183 rows x 12 columns]

##Drop columns

In [ ]:
titanic_df = titanic_df.drop(columns=['Ticket', 'PassengerId', 'Cabin', 'Name'])

##Change sex

In [ ]:
titanic_df = titanic_df.replace('male', 0)
titanic_df = titanic_df.replace('female', 1)
titanic_df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
1           1       1    1  38.0      1      0  71.2833        C
3           1       1    1  35.0      1      0  53.1000        S
6           0       1    0  54.0      0      0  51.8625        S
10          1       3    1   4.0      1      1  16.7000        S
11          1       1    1  58.0      0      0  26.5500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
871         1       1    1  47.0      1      1  52.5542        S
872         0       1    0  33.0      0      0   5.0000        S
879         1       1    1  56.0      0      1  83.1583        C
887         1       1    1  19.0      0      0  30.0000        S
889         1       1    0  26.0      0      0  30.0000        C

[183 rows x 8 columns]

##Age float to int

In [ ]:
titanic_df['Age'] = titanic_df['Age'].astype(int)
titanic_df.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age           int64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

## Aggregation Family size

In [ ]:
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
#titanic_df = titanic_df.drop(columns=['SibSp', 'Parch'])

In [ ]:
titanic_df

     Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked  FamilySize
1           1       1    1   38      1      0  71.2833        C           2
3           1       1    1   35      1      0  53.1000        S           2
6           0       1    0   54      0      0  51.8625        S           1
10          1       3    1    4      1      1  16.7000        S           3
11          1       1    1   58      0      0  26.5500        S           1
..        ...     ...  ...  ...    ...    ...      ...      ...         ...
871         1       1    1   47      1      1  52.5542        S           3
872         0       1    0   33      0      0   5.0000        S           1
879         1       1    1   56      0      1  83.1583        C           2
887         1       1    1   19      0      0  30.0000        S           1
889         1       1    0   26      0      0  30.0000        C           1

[183 rows x 9 columns]

##Code Embarkes

In [ ]:
titanic_df['Embarked'] = titanic_df['Embarked'].map({'C':0, 'Q':1, 'S':2})

In [ ]:
titanic_df

     Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked  FamilySize
1           1       1    1   38      1      0  71.2833         0           2
3           1       1    1   35      1      0  53.1000         2           2
6           0       1    0   54      0      0  51.8625         2           1
10          1       3    1    4      1      1  16.7000         2           3
11          1       1    1   58      0      0  26.5500         2           1
..        ...     ...  ...  ...    ...    ...      ...       ...         ...
871         1       1    1   47      1      1  52.5542         2           3
872         0       1    0   33      0      0   5.0000         2           1
879         1       1    1   56      0      1  83.1583         0           2
887         1       1    1   19      0      0  30.0000         2           1
889         1       1    0   26      0      0  30.0000         0           1

[183 rows x 9 columns]

##DNN Классификатор

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
%%capture
!pip install wandb

In [ ]:
import wandb
from wandb.keras import WandbCallback

wandb.login(key='df155689a5e91fac2beb79382a8cf29f64f1a3ab')

wandb: WARNING If you're specifying your api key in code, ensure this code is not shared publically.
wandb: WARNING Consider setting the WANDB_API_KEY environment variable, or running `wandb login` from the command line.
wandb: Appending key for api.wandb.ai to your netrc file: /root/.netrc

True

In [ ]:
from tensorflow.keras.callbacks import Callback
from wandb.keras import WandbCallback

In [ ]:
from sklearn.model_selection import train_test_split
X = titanic_df[['Pclass', 'Sex', 'Age', 'Fare', 'Embarked', 'FamilySize', 'SibSp', 'Parch']]
y = titanic_df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [ ]:
experiment_name = wandb.util.generate_id()


wandb.init(
  project="DZ8",
  group=experiment_name,
  config={
      "layer_input": 32,
      "dropout": 0.25,
      "layer_1": 16,
      "act_hid": 'relu',
      "layer_2": 8,
      "layer_out": 1,
      "act_out": 'sigmoid',
      "loss": 'binary_crossentropy', 
      "optimizer": 'adam',
      "metric": 'accuracy',
      "epochs": 30,
      "batch_size": 1,
      "verbose": 1
  })

In [ ]:
config = wandb.config

In [ ]:
model = keras.Sequential(
    [
        layers.Dense(config.layer_input, input_dim=X.shape[1], activation=config.act_hid),
        layers.Dense(config.layer_1, activation=config.act_hid),
        layers.Dense(config.layer_2, activation=config.act_hid),
        layers.Dense(config.layer_out, activation=config.act_out),
    ]
)

model.compile(loss=config.loss, 
               optimizer=config.optimizer, 
               metrics=[config.metric]
              )

history = model.fit(x=X_train,
                    y=y_train,
                    epochs=config.epochs,
                    batch_size=config.batch_size,
                    verbose=config.verbose,
                    validation_data=(X_test, y_test),
                    callbacks=[WandbCallback()])
wandb.finish()

Epoch 1/30
155/155 [==============================] - 0s 3ms/step - loss: 0.7485 - accuracy: 0.6452 - val_loss: 0.6586 - val_accuracy: 0.6071
Epoch 2/30
155/155 [==============================] - 0s 2ms/step - loss: 0.6316 - accuracy: 0.6581 - val_loss: 0.6427 - val_accuracy: 0.6786
Epoch 3/30
155/155 [==============================] - 0s 2ms/step - loss: 0.7934 - accuracy: 0.7161 - val_loss: 0.9483 - val_accuracy: 0.6786
Epoch 4/30
155/155 [==============================] - 0s 2ms/step - loss: 0.6268 - accuracy: 0.6839 - val_loss: 0.6675 - val_accuracy: 0.6071
Epoch 5/30
155/155 [==============================] - 0s 1ms/step - loss: 0.6051 - accuracy: 0.6774 - val_loss: 0.6956 - val_accuracy: 0.6786
Epoch 6/30
155/155 [==============================] - 0s 2ms/step - loss: 0.6042 - accuracy: 0.6774 - val_loss: 0.6306 - val_accuracy: 0.6071
Epoch 7/30
155/155 [==============================] - 0s 1ms/step - loss: 0.5872 - accuracy: 0.7161 - val_loss: 0.6249 - val_accuracy: 0.6786
Epoch 8/30
155/155 [==============================] - 0s 1ms/step - loss: 0.5874 - accuracy: 0.7226 - val_loss: 0.6485 - val_accuracy: 0.6786
Epoch 9/30
155/155 [==============================] - 0s 2ms/step - loss: 0.6092 - accuracy: 0.7161 - val_loss: 0.5903 - val_accuracy: 0.7500
Epoch 10/30
155/155 [==============================] - 0s 1ms/step - loss: 0.5681 - accuracy: 0.6968 - val_loss: 0.6584 - val_accuracy: 0.6071
Epoch 11/30
155/155 [==============================] - 0s 2ms/step - loss: 0.5638 - accuracy: 0.7032 - val_loss: 0.6169 - val_accuracy: 0.6429
Epoch 12/30
155/155 [==============================] - 0s 1ms/step - loss: 0.5406 - accuracy: 0.7484 - val_loss: 0.6141 - val_accuracy: 0.6786
Epoch 13/30
155/155 [==============================] - 0s 1ms/step - loss: 0.6051 - accuracy: 0.6839 - val_loss: 0.6260 - val_accuracy: 0.7143
Epoch 14/30
155/155 [==============================] - 0s 1ms/step - loss: 0.5372 - accuracy: 0.7613 - val_loss: 0.5989 - val_accuracy: 0.6071
Epoch 15/30
155/155 [==============================] - 0s 2ms/step - loss: 0.5469 - accuracy: 0.6903 - val_loss: 0.5851 - val_accuracy: 0.6786
Epoch 16/30
155/155 [==============================] - 0s 2ms/step - loss: 0.5342 - accuracy: 0.7290 - val_loss: 0.5842 - val_accuracy: 0.6786
Epoch 17/30
155/155 [==============================] - 0s 1ms/step - loss: 0.5339 - accuracy: 0.7548 - val_loss: 0.5963 - val_accuracy: 0.6429
Epoch 18/30
155/155 [==============================] - 0s 2ms/step - loss: 0.5147 - accuracy: 0.7548 - val_loss: 0.5794 - val_accuracy: 0.6786
Epoch 19/30
155/155 [==============================] - 0s 2ms/step - loss: 0.4949 - accuracy: 0.7742 - val_loss: 0.5889 - val_accuracy: 0.6786
Epoch 20/30
155/155 [==============================] - 0s 1ms/step - loss: 0.5063 - accuracy: 0.7742 - val_loss: 0.5444 - val_accuracy: 0.7143
Epoch 21/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4935 - accuracy: 0.7419 - val_loss: 0.5558 - val_accuracy: 0.7143
Epoch 22/30
155/155 [==============================] - 0s 2ms/step - loss: 0.5067 - accuracy: 0.7871 - val_loss: 0.5381 - val_accuracy: 0.7143
Epoch 23/30
155/155 [==============================] - 0s 2ms/step - loss: 0.4487 - accuracy: 0.7806 - val_loss: 0.5603 - val_accuracy: 0.6786
Epoch 24/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4731 - accuracy: 0.7484 - val_loss: 0.5519 - val_accuracy: 0.7500
Epoch 25/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4811 - accuracy: 0.7742 - val_loss: 0.5656 - val_accuracy: 0.7143
Epoch 26/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4295 - accuracy: 0.7806 - val_loss: 0.5554 - val_accuracy: 0.7143
Epoch 27/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4715 - accuracy: 0.7871 - val_loss: 0.6255 - val_accuracy: 0.6786
Epoch 28/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4748 - accuracy: 0.7677 - val_loss: 0.5314 - val_accuracy: 0.7500
Epoch 29/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4275 - accuracy: 0.8065 - val_loss: 0.5509 - val_accuracy: 0.7143
Epoch 30/30
155/155 [==============================] - 0s 1ms/step - loss: 0.4292 - accuracy: 0.7806 - val_loss: 0.5665 - val_accuracy: 0.7500

VBox(children=(Label(value=' 0.05MB of 0.05MB uploaded (0.00MB deduped)\r'), FloatProgress(value=1.0, max=1.0)…

In [ ]:
_, accuracy = model.evaluate(X_train, y_train)
print('train Accuracy: %.2f' % (accuracy*100))
_, accuracy = model.evaluate(X_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

5/5 [==============================] - 0s 3ms/step - loss: 0.3862 - accuracy: 0.7871
train Accuracy: 78.71
1/1 [==============================] - 0s 1ms/step - loss: 0.5665 - accuracy: 0.7500
Accuracy: 75.00

In [ ]:
model.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_55 (Dense)             (None, 32)                288
_________________________________________________________________
dense_56 (Dense)             (None, 16)                528
_________________________________________________________________
dense_57 (Dense)             (None, 8)                 136
_________________________________________________________________
dense_58 (Dense)             (None, 1)                 9
=================================================================
Total params: 961
Trainable params: 961
Non-trainable params: 0
_________________________________________________________________